.textContent {
    background-color: gray;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
}
#mainContent {
    background-color: lightblue;
    height: 420px;
    display: flex;
}
#navigationBar {
    width: 40%;
    background-color: lightcoral;
    height: 400px;
    padding: 10px;
}
.navItems {
    background-color: lightgoldenrodyellow;
    height: 50px;
    margin: 10px;
    padding: 25px 0px 0px 20px;
    font-size: 25px;
}
#content {
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
}